<div class="login-root">
  <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1;">
    <div class="loginbackground box-background--white padding-top--64">
      <div class="loginbackground-gridContainer">
        <div class="box-root flex-flex" style="grid-area: top / start / 8 / end;">
          <div class="box-root" style="background-image: linear-gradient(white 0%, rgb(247, 250, 252) 33%); flex-grow: 1;">
          </div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 4 / 2 / auto / 5;">
          <div class="box-root box-divider--light-all-2 animationLeftRight tans3s" style="flex-grow: 1;"></div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 6 / start / auto / 2;">
          <div class="box-root box-background--blue800" style="flex-grow: 1;"></div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 7 / start / auto / 4;">
          <div class="box-root box-background--blue animationLeftRight" style="flex-grow: 1;"></div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 8 / 4 / auto / 6;">
          <div class="box-root box-background--gray100 animationLeftRight tans3s" style="flex-grow: 1;"></div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 2 / 15 / auto / end;">
          <div class="box-root box-background--cyan200 animationRightLeft tans4s" style="flex-grow: 1;"></div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 3 / 14 / auto / end;">
          <div class="box-root box-background--blue animationRightLeft" style="flex-grow: 1;"></div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 4 / 17 / auto / 20;">
          <div class="box-root box-background--gray100 animationRightLeft tans4s" style="flex-grow: 1;"></div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 5 / 14 / auto / 17;">
          <div class="box-root box-divider--light-all-2 animationRightLeft tans3s" style="flex-grow: 1;"></div>
        </div>
      </div>
    </div>
    <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
      <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
        <h1><a rel="dofollow">Phone Number Validator</a></h1>
      </div>
      <div class="formbg-outer">
        <div class="formbg">
          <div class="formbg-inner padding-horizontal--48">
            <form id="stripe-login"  [formGroup]="checkForm" (ngSubmit)="onSubmitForm()" >
              <div class="field padding-bottom--24">
                <label >Number</label>
                <input type="text" name="number" formControlName="number"   placeholder="Phone Number">
              </div>
              <div class="field padding-bottom--24">
                <div class="grid--50-50">
                  <label>Country</label>
                </div>
                  <select formControlName="country">
                    <option *ngFor="let item of countries | keyvalue" value="{{item.key}}">
                       {{item.value.country_name}}
                    </option>
                  </select>

                <div *ngIf="valid"  style="margin-top:20px ;border: gray 2px solid ; border-radius: 10px ; box-shadow: black ">
                  <div>
                    <div class="thank-you-pop">
                      <img src="http://goactionstations.co.uk/wp-content/uploads/2017/03/Green-Round-Tick.png" alt="">
                      <h1>Valid Number!</h1>
                      <p>  {{ countryName }}  </p>
                      <div style="width: 70px ; height: 30px;margin-top: -10px; margin-bottom: 10px;" class={{flag}}> </div>
                      <p> {{ carrier }}</p>
                      <p> {{ lineType }}</p>
                      <p> {{ internationalFormat }}</p>
                    </div>
                  </div>
                </div>
                <div *ngIf="invalid"  style="margin-top:20px ;border: gray 2px solid ; border-radius: 10px ; box-shadow: black ">
                  <div>
                    <div class="thank-you-pop">
                      <img src="assets/images/red-cross.png" style="width: 50px;height: 50px" >
                      <h1>Invalid Number!</h1>
                      <p> {{ errorMessage }}</p>
                    </div>
                  </div>
                </div>

                <button name="submit" >
                  <div *ngIf="!spiner" > <div style="color: white">  Check </div>  </div>
                  <div *ngIf="spiner" class="loader"></div>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


